.channels-header {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.channels .item {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.channels .item:after {
    content: none !important;
}