.channels-header {
  border-bottom: 1px solid #999;
}

.channels .item {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.channels .item:after {
  content: none !important;
}
