.contact-channels a,
.contact-channels a:hover,
.contact-channels a:active {
  color: black;
}

.contact-channels a:hover,
.contact-channels a:active {
  text-decoration: underline;
}

.contact-channels .item {
  padding: 1rem 0 !important;
}
