.items-list a, .items-list a:hover, .items-list a:active {
    color: black;
}

.items-list a:hover, .items-list a:active {
    text-decoration: underline;
}

.items-list .item {
    padding: 1rem 0 !important;
}