.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #0f1831;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App h1 {
  font-weight: 400;
  letter-spacing: 2px;
}

.App-link {
  color: #09d3ac;
}

.App input,
.App button {
  display: block;
  margin: 1rem 0;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 5px;
}

.App label {
  text-transform: uppercase;
  display: block;
  text-align: left;
  letter-spacing: 2px;
  font-weight: 200;
}

.App form {
  border: 1px solid #fff;
  padding: 1rem;
  border-radius: 5px;
  position: relative;
}

.App button {
  margin-top: 2rem;
  width: 100%;
  font-size: 1.25rem;
  background: none;
  border: 1px solid #fff;
  color: #fff;
  padding: 0.5rem;
  text-transform: uppercase;
  top: 0;
  position: relative;
  font-weight: 200;
  letter-spacing: 2px;
}

.App button:active {
  top: 1px;
}

.error {
  padding: 0.5rem;
  font-weight: bold;
  color: white;
  background: darkred;
  border-radius: 5px;
  margin-bottom: 1rem;
}
