label {
  color: black;
}

.ui.grid.login {
  max-width: 500px;
  margin: 0 auto;
}

.login .ui.input {
  border: 1px solid #ccc;
}

.login .ui.header {
  color: var(--dark-theme-color);
}

.forgotPassword {
  margin-top: 20px;
}