.error {
  padding: 0.5rem;
  font-weight: bold;
  color: white;
  background: darkred;
  border-radius: 5px;
  margin-bottom: 1rem;
}

label {
  color: white;
}

.ui.grid.login {
  margin-top: 5rem;
}
