.contacts .ui.button {
    margin: 0;
}

.contacts .ui.inverted.top.attached.header {
    background-color: #2185d0!important;
}

.contacts .contact {
    margin: 1.5rem 0;
    border-radius: 5px;
    overflow: hidden;
}

.contacts a, .contacts a:hover {
    color: #fff;
}

.contacts a:hover, .contacts a:active {
    text-decoration: underline;
}